[Unit]
Description=Consul Agent

[Service]
User=root
Restart=always
ExecStart={{ consul_install_path }}/consul agent -config-dir={{ consul_configuration_path }}

[Install]
WantedBy=multi-user.target
